
DOS_Z/obj/project.nuget.cache
DOS_Z/obj/project.assets.json
DOS_Z/obj/DOSz.csproj.nuget.g.props
DOS_Z/obj/DOSz.csproj.nuget.dgspec.json
DOS_Z/obj/Debug/netcoreapp3.1/DOSz.pdb
DOS_Z/obj/Debug/netcoreapp3.1/DOSz.dll
DOS_Z/obj/Debug/netcoreapp3.1/DOSz.csprojAssemblyReference.cache
DOS_Z/obj/Debug/netcoreapp3.1/DOSz.csproj.FileListAbsolute.txt
DOS_Z/obj/Debug/netcoreapp3.1/DOSz.csproj.CoreCompileInputs.cache
DOS_Z/obj/Debug/netcoreapp3.1/DOSz.assets.cache
DOS_Z/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DOS_Z/bin/Debug/netcoreapp3.1/DOSz.runtimeconfig.dev.json
DOS_Z/bin/Debug/netcoreapp3.1/DOSz.pdb
DOS_Z/bin/Debug/netcoreapp3.1/DOSz.dll
DOS_Z/.vs/DOSz/v16/.suo
